
db.sqlite3
/quiz/__pycache__
quiz/migrations/0004_game_category_alter_gameresult_time_answered_profile_and_more.py
quiz/migrations/0003_alter_gameresult_time_answered_userprofile.py
quiz/migrations/0002_remove_question_other_choices_question_choice_1_and_more.py
quiz/migrations/0001_initial.py
quiz/migrations/__pycache__/0001_initial.cpython-312.pyc
/quiz/migrations/__pycache__
/quiz_project/__pycache__
